.image{
    height: 100vh;
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-palette-generators.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}